.logon{
    background-color:  pink;
    width: 700px;
    height: 420px;
    position: absolute;
    opacity: 0.7;
    bottom: 130px;
    border-radius: 20px;
   
}
.logon h1{
     font-size: 130px;
    text-align: center;
}




.home {
    min-height: 100vh;

    background-image: url("../assets/Backgrounds/cristoredentor.png");
   
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.Balao {
    position: fixed;
    left: 92%;
    width: 130px;
    bottom: 10%;
    z-index: 6;
}


 .fix {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    padding-top: 1100px;
}
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

