.logon{
    background-color:  pink;
    width: 700px;
    height: 420px;
    position: absolute;
    opacity: 0.7;
    bottom: 130px;
    border-radius: 20px;
   
}
.logon h1{
     font-size: 130px;
    text-align: center;
}




.home {
    min-height: 100vh;

    background-image: url("../assets/Backgrounds/cristoredentor.png");
   
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.Balao {
    position: fixed;
    left: 92%;
    width: 130px;
    bottom: 10%;
}
.card {
    position: absolute;
    display: flex;
    gap: 30px;

    justify-content: center;
    align-items: center;

  top: 131%;
}
    .carde {
        position: absolute;
        display: flex;
        gap: 30px;

        justify-content: center;
        align-items: center;
        padding-top: 20px;
        top: 150%;
    
    }
    .carder {
        position: absolute;
        display: flex;
        gap: 30px;

        justify-content: center;
        align-items: center;
        padding-top: 20px;
        top: 170%;
    
    }

